h1 {
    font-family: 'Nosifer', cursive;
    font-size: 3rem;
}

h2,
p,
subtitle,
body, 
h3,
h4,
h5 {
    font-family: 'Delius', cursive;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
}

p {
    font-family: 'Delius', cursive;
    font-size: 20px;
    padding: 10px;
}

option {
    font-family: 'Delius', cursive;
}

footer {
    font-family: 'Delius', cursive;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0rem;
}

.close:hover,
.close:focus {
    color: greenyellow;
    text-decoration: none;
    cursor: pointer;
}

.dropdownselect {
    background-color: #00a140;
    color: rgb(0, 250, 250);
    text-decoration: none;
}

.dropdownselect:hover,
.dropdownselect:focus {
    color: #3f7856;
    background-color: lightcyan;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.container {
    padding: 2rem;
}

#ipAccess,
#currencyamt {
    font-family: 'Delius', cursive;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

#ipAccess:hover,
#ipAccess:focus {
    text-decoration: none;
    cursor: pointer;
}

#modalYes,
#modalNo { 
    margin: 0.5rem;
}

#modalYes:hover,
#modalYes:focus {
    text-decoration: none;
    cursor: pointer;
}

#modalNo:hover,
#modalNo:focus {
    text-decoration: none;
    cursor: pointer;
}

#currencyamt {
    margin: 1rem 0.25rem;
}

#calculated {
    font-family: 'Delius', cursive;
    font-size: 2rem;
}